<div nz-row>
  <div nz-col nzSpan="24">
    <nz-input-group nzSize="large" [nzAddOnAfter]="suffixIconButton">
      <input #searchInput nz-input [(ngModel)]="searchKey" (ngModelChange)="onChangeSearchInput()"
        (keydown.enter)="searchInput.blur()" placeholder="Search key..." />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch (click)="onClearSearch()"><i nz-icon nzType="clear"
          nzTheme="outline"></i></button>
    </ng-template>
  </div>
</div>

<div nz-row>
  <div nz-col nzSpan="18">
    <nz-transfer [nzDataSource]="patterns" [nzRender]="renderTransfer"
      [nzTitles]="['suggested pattern', 'searched pattern']" (nzChange)="onChangeTransfer($event)"
      [nzListStyle]="{ 'width': '50%', 'height': '50vh' }"></nz-transfer>
    <ng-template #renderTransfer let-item>
      <span>
        {{item.index && item.index + '. ' }}
        {{item.title }}
      </span>
    </ng-template>

    <div nz-row>
      <nz-space nz-col nzSpan="12">
        <label nz-checkbox class="pl-3">Use Levenshtein Distance to sort inspection with same score</label>
        <label nz-checkbox>Use search exact for multi language from js (not ext lib)</label>
      </nz-space>
    </div>
  </div>

  <div nz-col nzSpan="6">
    <ul nz-list [nzDataSource]="inspections" nzBordered nzSize="large" [nzLoading]="loading">
      <li nz-list-item *ngFor="let item of inspections">
        <span nz-tooltip [nzTooltipTitle]="item.tooltip" [innerHTML]="item.inspectionLineName"></span>
      </li>
      <nz-list-footer> Result: {{inspections.length}} items </nz-list-footer>
    </ul>
  </div>
</div>