<div nz-row>
  <div nz-col nzSpan="24">
    <nz-input-group nzSize="large" [nzAddOnAfter]="suffixIconButton">
      <input #searchInput nz-input [(ngModel)]="searchKey" (ngModelChange)="onChangeSearchInput()"
        (keydown.enter)="searchInput.blur()" placeholder="Search key..." />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch (click)="onClearSearch()"><i nz-icon nzType="clear"
          nzTheme="outline"></i></button>
    </ng-template>
  </div>
</div>

<div nz-row>
  <div nz-col nzSpan="18">
    <nz-transfer [nzDataSource]="patterns" [nzRender]="renderTransfer" [nzFooter]="footerTransfer"
      [nzTitles]="['suggested pattern', 'searched pattern']" (nzChange)="onChangeTransfer($event)"
      [nzListStyle]="{ 'width': '50%', 'height': '50vh' }"></nz-transfer>
    <ng-template #renderTransfer let-item>
      <span>
        {{item.title }}
        <button nz-button nzType="link" [nzSize]="'small'" nzDanger (click)="onDeletePattern(item)"><i nz-icon
            nzType="delete"></i></button>
      </span>
    </ng-template>
    <ng-template #footerTransfer let-direction>
      <button [disabled]="!searchKey" nz-button (click)="onAddPattern(direction)" [nzSize]="'small'" nzType="primary"
        style="float: right; margin: 5px;">
        Add
      </button>
    </ng-template>

    <div nz-row>
      <div nz-col nzSpan="12">
        <label [(ngModel)]="options.useReplaceSpecialCharacters" nzDisabled (ngModelChange)="onSearch()" nz-checkbox
          class="pl-3 pt-5">
          Supported special character
          <i nz-icon nzType="info-circle" nzTheme="twotone" nz-tooltip [nzTooltipTitle]="specialCharacterTemplate"></i>
          <ng-template #specialCharacterTemplate>
            <div *ngFor="let item of SPECIAL_CHARACTERS">{{item.key}} to {{item.value}}</div>
          </ng-template>
        </label>
        <br>

        <label [(ngModel)]="options.useLevenshtein" (ngModelChange)="onSearch()" nz-checkbox class="pl-3 pt-5">
          Use Levenshtein Distance to sort inspection with same score
        </label>
        <br>

        <label [(ngModel)]="options.useLunrLanguages" (ngModelChange)="onInitLunr()" nz-checkbox class="pl-3 pt-5">
          Use lunr languages
          <i nz-icon nzType="info-circle" nzTheme="twotone" nz-tooltip nzTooltipTitle="English, France, German"></i>
        </label>
        <br>

        <label [(ngModel)]="options.useUnicodeNormalizer" (ngModelChange)="onInitLunr()" nz-checkbox class="pl-3 pt-5">
          Use unicode normalizer
        </label>
        <br>

        <label [(ngModel)]="options.useCustomSearch" (ngModelChange)="onSearch()" nz-checkbox class="pl-3 pt-5">
          Use custom search exact for multi language (not use ext lib) (<span class="text-danger">CSE</span>)
        </label>
        <br>

        <label [(ngModel)]="options.useUpperWord" (ngModelChange)="onSearch()" nz-checkbox class="pl-3 pt-5">
          Search by first letter of each word in uppercase (<span class="text-danger">FWU</span>)
        </label>
        <br>

        <label nz-checkbox class="pl-3 pt-5">
          Skip fuzzy search when keyword less or equal than 3 characters
        </label>
        <br>

        <label nz-checkbox nzDisabled class="pl-3 pt-5">Search with exact number value</label>
      </div>
      <div nz-col nzSpan="12">
        <div class="pt-5 pl-3">
          <span>Min Score:</span>
          <nz-input-number [(ngModel)]="options.minScore" [nzMin]="0" [nzStep]="0.001"
            [nzDisabled]="inspections.length == rawInspection.length" (ngModelChange)="onSearch(true)" class="ml-3">
          </nz-input-number>
        </div>


        <label [(ngModel)]="options.isSortScore" (ngModelChange)="onSearch(true)" nz-checkbox class="pt-5 pl-3">
          Sort by score ignore order of patterns
        </label>
      </div>
    </div>
  </div>

  <div nz-col nzSpan="6" style="border: 1px solid #d9d9d9;">
    <cdk-virtual-scroll-viewport itemSize="10">
      <div *cdkVirtualFor="let item of inspections" nz-tooltip [nzTooltipTitle]="item.tooltip"
        [innerHTML]="item.inspectionLineName" class="list-item"></div>

      <nz-empty *ngIf="inspections.length === 0" class="mt-5"
        nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg" nzNotFoundContent="No result">
      </nz-empty>

    </cdk-virtual-scroll-viewport>
    <div class="list-item">
      <b>Total: {{inspections.length}}</b>
    </div>
  </div>
</div>