cdk-virtual-scroll-viewport {
  height: calc(100vh - 100px);
}

.list-item {
  padding: 16px 24px;
  border-top: 1px solid #f0f0f0;
  font-variant: tabular-nums;
}

.text-danger {
  color: red;
}

.text-grey {
  color: lightgray;
}

.ml-3 {
  margin-left: 8px;
}

.mt-5 {
  margin-top: 64px;
}

.pl-3 {
  padding-left: 8px;
}

.pt-5 {
  padding-top: 15px;
}
