nz-spin {
  height: calc(100vh - 100px);
  overflow-y: auto;
}

.text-danger {
  color: red;
}

.text-grey {
  color: lightgray;
}

.ml-3 {
  margin-left: 8px;
}

.pl-3 {
  padding-left: 8px;
}

.pt-5 {
  padding-top: 15px;
}